@font-face { // Declaring font faces for LaTeX font
    font-family: "Computer Modern";
    src: url('../fonts/computer-modern/cmunrm.ttf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/computer-modern/cmunbx.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/computer-modern/cmunti.ttf');
  font-style: italic;
}

$base-font-family: "Computer Modern", sans-serif;
@import "docgen-default";

// Set page margins for printer
@page {
  margin: 20mm 20mm;
}

// For when the file is just a list of things (e.g. a problem set!)
main > {ol, ul {> li > {
  p, div, table {
    margin-left: -$spacing-unit / 2;
    margin-right: -$spacing-unit / 2;

    &:first-child {
      text-indent: $spacing-unit / 2;
    }
  }

  ol, ul {
    margin-left: $spacing-unit / 2;
  }
}}}

@media print {
  main > {
    ol, ul {
      margin-left: -$spacing-unit / 2;
    }
  }

  .page-content {
    margin: 0 auto;
  }
}
