@font-face { // Declaring font faces for LaTeX font
    font-family: "Computer Modern";
    src: url('../fonts/computer-modern/cmunrm.ttf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/computer-modern/cmunbx.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('../fonts/computer-modern/cmunti.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url('../fonts/computer-modern/cmuntb.ttf');
}

$base-font-family: "Computer Modern", sans-serif;
$code-font-family: "Computer Modern Typewriter", Consolas, Monaco;
$code-block-background-color: white !default;
$syntax-highlighting-background-color: white !default;
@import "default-docgen";

// Set page margins for printer
@page {
  margin: 20mm 20mm;
}

pre {
  $offset: 15px;
  $blur-radius: 15px;
  $spread-radius: -10px;
  $type: inset;
  $shadow-color: $code-block-border-color;
  @include shadow(
    $type
    $offset*-1 $offset
    $blur-radius $spread-radius $shadow-color,

    $type
    $offset $offset*-1
    $blur-radius $spread-radius $shadow-color
  );
}

pre, code {
  @include relative-font-size(1);
}

@media print {
//   main > {
//     ol, ul {
//       margin-left: -$spacing-unit / 2;
//     }
//   }

  .page-content {
    margin: 0 auto;
  }
}
