
$base-font-family: "Times New Roman", Georgia;
@import "default-docgen";

h1, h2 {
  text-align: center;
}

p {
  text-indent: 2em;
  line-height: 2em;
  margin-bottom: 0;
}

p.mla-title {
  text-align: center;
}

p.noindent {
  text-indent: 0;
}
