$docgen-asset-url: "#{$site-baseurl}/assets/docgen";

@font-face { // Declaring font faces for LaTeX font
    font-family: "Computer Modern";
    src: url('#{$docgen-asset-url}/fonts/computer-modern/cmunrm.ttf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('#{$docgen-asset-url}/fonts/computer-modern/cmunbx.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('#{$docgen-asset-url}/fonts/computer-modern/cmunti.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url('#{$docgen-asset-url}/fonts/computer-modern/cmuntb.ttf');
}

