// @media print {
//   hr, div.horizontal-line {
//     // -webkit-print-color-adjust: exact;
//   }
// }

%horizontal-line {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  border-top: 1px solid black;
}

hr, div.horizontal-line, div.page-break {
  @extend %horizontal-line;
}

div.page-break {
  break-after: page;
}

@media print {
  div.page-break {
    height: 0px;
    background-color: none;
  }
}

div.display {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  margin: 0px;

  &.center {
    align-items: center;
    justify-content: center;
  }

  > * {
    margin-left: $spacing-unit / 4;
    margin-right: $spacing-unit / 4;
  }
}


// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#Syntax
ol.heirarchical > li {
  ol, ul {
    //margin-bottom: 0px;
  }
  > ol > li {
    list-style-type: lower-alpha;

    > ol > li {
      list-style-type: lower-roman;
    }
  }
}

// .citation-docgen {
//   .citation-number-docgen:after {
//     counter-increment: citation-docgen;
//     content: counter(citation-docgen);
//   }
// }

pre.utf-box-drawing,
code.utf-box-drawing {
  font-family: "Source Code Pro";
}
