div.page-break {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  page-break-after: always;
  background-color: black;
  height: 1px;
}

.citation-docgen {
  .citation-number-docgen:after {
    counter-increment: citation-docgen;
    content: counter(citation-docgen);
  }
}

@media print {
  .page-break {
    background-color: none;
  }
}

