div.page-break {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  break-after: page;
  background-color: black;
  height: 1px;
}

div.display {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  margin: 0px;

  &.center {
    align-items: center;
    justify-content: center;
  }

  > * {
    margin-left: $spacing-unit / 4;
    margin-right: $spacing-unit / 4;
  }
}

.citation-docgen {
  .citation-number-docgen:after {
    counter-increment: citation-docgen;
    content: counter(citation-docgen);
  }
}

@media print {
  .page-break {
    height: 0px;
    background-color: none;
  }
}

