---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

  {% include head-docgen.html %}

  <body>

    <main class="page-content" aria-label="Content">
      <h1>404 Not Found!</h1>
      <p id="404-content">
        The page couldn't be found :(
        </br>
        </br>
        <a href="{{ '/' | relative_url }}">Click here to go back to the homepage</a>
      </p>
      {{ content }}
    </main>

    <!-- <script>
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function redirect() {
        console.log(window.location.pathname);
        if (window.location.pathname == '/') {
          $('#404-content').text("You're being redirected to the correct homepage of this site...");
          await sleep(1000);
          window.location.replace('{{ '/' | relative_url }}');
        }
      }

      redirect();
    </script> -->
  </body>

</html>
